@use '../../partials/mixins' as *;

.projects {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 1rem;
  @include medium {
    margin: 0;
    margin-left: 120px;
    padding: 0 2.5rem;
  }
  @include large {
    padding: 0 3rem;
  }
  @include desktop {
    padding: 0 15%;
  }
  &__title {
    margin-top: 3rem;
  }
  &__sub-title {
    margin-top: 2rem;
  }
  &__filler {
    flex-grow: 1;
  }
  &__icon-wrapper {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    @include medium {
      font-size: 2.5rem;
    }
  }
  &__icon {
    cursor: pointer;
  }
}
