@use '../../partials/mixins' as *;

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 1rem;
  color: #232b2b;

  &__description {
    font-size: 14px;
    margin: 0;
  }

  &__skills-wrapper {
    border-top: #232b2b solid 1px;
    //border-bottom: black solid 1px;
    &--last {
      border-bottom: #232b2b solid 1px;
    }
  }
}
