@use '../../partials/mixins' as *;

.header {
  border-radius: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
  height: 3.5rem;
  border-bottom: #232b2b 1px solid;
  color: #232b2b;
  @include medium {
    flex-direction: column;
    width: 120px;
    height: 100%;
    margin: 0;
    padding: 2.5rem 0;
    border-right: #232b2b 1px solid;
  }
  //background-color: #ffffff;
  //padding: 0 1rem;

  &__menu-icon-wrapper {
    margin-top: 0.5rem;
    cursor: pointer;
  }
  &__menu-icon {
    display: block;
    height: 0.125rem;
    width: 2rem;
    background-color: #232b2b;
    margin-bottom: 0.5rem;
  }
}
