.webgl {
  top: 0;
  left: 0;
  position: fixed !important;
  //Hide Dom ScrollBar
  & div:last-child::-webkit-scrollbar {
    display: none;
  }
  & div:last-child {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
